@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/d-din");

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.speciesName {
  font-family: "D-DIN Condensed", sans-serif;
  font-weight: bold;
  line-height: 2.375rem;
  font-size: 2.375rem;
}
.countryName {
  font-family: "Poppins", sans-serif;
  line-height: 1.335;
  font-size: 0.75rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
.galery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 36.75rem;
  max-width: 73.625rem;
  column-gap: 2px;
  z-index: 1;
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2.5rem;
  position: relative;
  overflow: hidden;
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease, filter 0.3s ease;
  z-index: 1;
}
.imgContainer:hover .bgImage {
  transform: scale(1.05);
  filter: grayscale(100%) blur(5px);
}
.imgContainer:hover .description {
  transform: translateY(-30px);
}
.imgContainer:hover .know {
  display: flex;
  opacity: 1;
  transition-delay: 0.5s;
}
.overlay {
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
}

.description {
  font-family: "Poppins", sans-serif;
  line-height: 1.33;
  font-size: 0.75rem;
  display: flex;
  width: 100%;
  max-width: 13.3125rem;
  transition: transform 0.5s ease;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 3;
}
.imgContainer:hover .overlay {
  background: rgba(0, 0, 0, 0.7);
}
.break {
  width: 100%;
  max-width: 6.25rem;
}
.break2 {
  width: 103%;
}
.know {
  display: none;
  opacity: 0;
  position: absolute;
  align-self: flex-end;
  font-family: "Poppins", sans-serif;
  line-height: 133.5%;
  width: 100%;
  max-width: 13.3125rem;
  font-size: 0.875rem;
  color: #00dbff;
  z-index: 2;
  align-items: center;
  gap: 4px;
}
@media screen and (max-width: 870px) {
  .description {
    display: none;
  }
  .imgContainer:hover .know {
    display: none;
  }
}
